/* Styles for the History Order and Message sections */
/* .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */
  
.card-header h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-header span {
    font-size: 12px;
    color: #888;
}

.card-body h6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
}

.card-body .d-flex {
    font-size: 14px;
    margin-bottom: 5px;
}

.card-body .text-muted {
    font-size: 12px;
    color: #bbb;
}

.mb-3 {
    margin-bottom: 15px !important;
}

/* Overall Card Styling */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 10px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
}

.card-body {
    padding: 15px;
}

.d-flex {
    justify-content: space-between;
}

/* Specific Styles for the Message section */
.card-body .d-flex {
    align-items: center;
}

.card-body .d-flex div:first-child {
    font-weight: bold;
}

.card-body .d-flex .text-muted {
    margin-left: auto;
}

.card-container {
    display: flex;
}