.container {
    margin-top: 10px;
    max-width: auto;
    margin: 50px auto;
    /* background-color: #282c34; */
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
}

.form-label {
    color: black;
}

.avatar-container img {
    width: 50%;
    height: auto;
    /* border-radius: 10px; */
    margin: 5px;
    padding-top: 15px;
}

.avatar-container {
    margin-bottom: 20px;
}

.form-control {
    height: auto;
}

.btn-primary {
    background-color: #61dafb;
    color: #1d1f27;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

.dropdown-item:hover {
    background-color: purple;
}

.role-upload-btn {
    display: flex;
    gap: 15px;
}

